@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
/* ::-webkit-scrollbar {
  display: none;
} */
/* Onboarding */
.onboarding {
  @apply flex flex-col items-center justify-center h-[900px] sm:h-[100vh]  bg-gradient-to-bl to-[#770C15] from-[#F9AFAF] text-xl self-stretch text-white gap-6;
}
.get_started_title {
  @apply text-6xl  font-bold;
}
.get_started_btn {
  @apply bg-white w-[250px] h-12 text-red-900 font-semibold rounded-md;
}

/* Login */
.login_container {
  @apply h-auto bg-white w-[90%] md:w-[650px] mx-auto py-20;
}
.title_container {
  @apply flex flex-col text-black  w-full text-center mb-10;
}
.login_title {
  @apply text-3xl font-bold max-md:text-xl text-black ml-16  mb-4;
}
.links {
  @apply text-[#991B1B] max-[400px]:text-[11px] text-sm font-semibold;
}

.btn {
  @apply bg-[#991B1B] text-white rounded-sm;
}

.links_btn_full {
  @apply w-full bg-[#991B1B];
}

/* Form container */
.form-container {
  @apply px-2 md:px-16 flex flex-col gap-5 text-black;
}
.input_field {
  @apply px-4 rounded-sm py-2;
}
.field_container {
  @apply flex justify-between;
}
.input_radio small {
  @apply ml-2;
}
.links_btn_full {
  @apply py-2 rounded-md text-white capitalize;
}
.sign_up_container {
  @apply w-full flex max-sm:flex-col justify-between items-center gap-4;
}
.sign-up_with_btn {
  @apply border-2 border-gray-200 max-sm:px-28 py-2 sm:px-28;
}

/* Dashboard-Overview */

.overview {
  @apply sm:w-[70%] mx-auto bg-[#770C15] mt-16 py-8 px-6 shadow-sm  drop-shadow-md h-auto rounded-md;
}
.overview-title {
  @apply text-2xl text-white font-semibold max-md:text-center;
}

/* card */
.card_container {
  @apply flex flex-wrap justify-between;
}
.card {
  @apply w-full sm:w-[230px]  h-[120px] flex flex-col px-4 justify-center items-center mt-8 rounded-md;
}
.card .title {
  @apply font-bold;
}
